.TodoAppContainer {
    margin: 5% auto;
    padding: 5% 3%;
    border: 07px rgb(145, 145, 238) solid;
    text-align: center;
}

.title span {
    color: blue;
}

.TodoList {
    text-align: start;
}

li::marker {
    font-weight: bold;
    font-size: 1.1em;
}

.TodoListLi {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.1rem;
}

.TodoListItems {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-left: 10px;
}

.todo-text {
    flex: 1;
    color: #444;
    font-weight: normal;
}

.todo-text.completed {
    text-decoration: line-through;
    opacity: 0.6;
}


.TodoListItems .TodoItembutton {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 40%;
}

li button {
    margin-left: 8px;
    border-radius: 10px;
    padding: 4px 10px;
    border: 2px black solid;
    font-size: medium;
    font-weight: bold;
    width: 5em;
}

.addTaskButtons button {
    margin: 12px;
    border-radius: 10px;
    padding: 10px;
    font-weight: 1000;
    font-size: 18px;
    color: blue;
    border: 5px blue solid;
}

li button:hover {
    color: white;
    font-size: medium;
    font-weight: bold;
    border: 2px white solid;
    cursor: pointer;
    border-radius: 10px;
    transition: color 0.5s ease, transform 0.5s ease;
}

.addTaskButtons button:hover {
    background-color: blue;
    color: white;
    transition: color 0.5s ease, transform 3s ease;
}


.delBtn:hover {
    background-color: red;
    color: white;
    transition: color 0.5s ease, transform 3s ease;
}

.editBtn:hover {
    background-color: rgb(251, 255, 41);
    color: rgb(82, 82, 82);
    transition: color 0.5s ease, transform 3s ease;
}

.doneBtn:hover {
    background-color: green;
    color: white;
    transition: color 0.5s ease, transform 3s ease;
}

.editBtn:disabled, .doneBtn:disabled {
    background-color: #f0f0f0;
    color: #a0a0a0;
    border-color: #dcdcdc;
    cursor: not-allowed;
    opacity: 0.6;
}

.closeModal{
    background: none;
    border: none;
    font-weight: bolder;
    font-size: larger;
    float: right;
    cursor: pointer;
}